<template bindable="router">
  <div class="ui grid">
    <div class="computer tablet only row">
      <div class="ui inverted fixed menu navbar page grid">
        <a href="" class="brand item">Project Name</a>
        <template repeat.for="route of router.navigation">
          <a href="${route.href}" class="${route.isActive ? 'active':''} item">${route.title}</a>
        </template>
        <a class="ui dropdown item">Dropdown
          <i class="dropdown icon"></i>
          <div class="menu" repeat.for="route of router.navigation">
            <div class="item">${route.title}</div>
            <div class="ui divider"></div>
            <div class="item">Seperated link</div>
          </div>
        </a>
        <div class="right menu">
          <a href="" class="item">Fixed top</a>
        </div>
      </div>
    </div>
    <div class="mobile only row">
      <div class="ui fixed inverted navbar menu">
        <a href="" class="brand item">Project Name</a>
        <div class="right menu open">
          <a href="" class="menu item">
            <i class="content icon"></i>
          </a>
        </div>
      </div>
      <div class="ui vertical navbar menu" repeat.for="route of router.navigation">
        <a href="" class="active item">${route.title}</a>
        <div class="ui item">
          <div class="text">Dropdown</div>
          <div class="menu">
            <a class="item">Action</a>
            <a class="item">Another action</a>
            <a class="item">Something else here</a>
            <a class="ui aider"></a>
            <a class="item">Seperated link</a>
            <a class="item">One more seperated link</a>
          </div>
        </div>
        <div class="menu">
          <a href="" class="active item">Default</a>
          <a href="" class="item">Static top</a>
          <a href="" class="item">Fixed top</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui page grid main">
    <div class="row">
      <router-view></router-view>
    </div>
  </div>

</template>
